# Jetbrains
.idea/

# MacOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/

# git # TODO: unignore when ready
.gitattributes

# extra # TODO: unignore when ready
TODO.txt
LICENSE.txt
CONTRIBUTING.md
requirements.txt

# logs
logs/

# models
utils/haarcascade_frontalface_alt.xml
utils/opencv_face_detector_uint8.pb
utils/opencv_face_detector.pbtxt
